<head>
    <title>Image and Text Rows</title>
    <style>
      .row {
        display: flex;
      }

      .column {
        flex: 1;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .image {
        width: 90%;
      }

      @import url("https://fonts.cdnfonts.com/css/tw-cen-mt-condensed");
    </style>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <div class="col-xl-12 text-center mb-4">
        <div class="about-title">
          <h3>About Us</h3>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <img src="assets/pictures/1.jpg" alt="Stock Image 1" class="image" />
        </div>
        <div class="column">
          <p>
            This is the text paragraph for the first row.This is the text
            paragraph for the first row.This is the text paragraph for the first
            row.This is the text paragraph for the first row.This is the text
            paragraph for the first row.This is the text paragraph for the first
            row.
          </p>
        </div>
      </div>
  
      <div class="row">
        <div class="column">
          <p>
            This is the text paragraph for the second row.This is the text
            paragraph for the first row.This is the text paragraph for the first
            row.This is the text paragraph for the first row.This is the text
            paragraph for the first row.This is the text paragraph for the first
            row.This is the text paragraph for the first row.
          </p>
        </div>
        <div class="column">
          <img src="assets/pictures/2.jpg" alt="Stock Image 2" class="image" />
        </div>
      </div>
  
      <div class="row">
        <div class="column">
          <img src="assets/pictures/6.jpg" alt="Stock Image 3" class="image" />
        </div>
        <div class="column">
          <p>
            This is the text paragraph for the third row.This is the text
            paragraph for the first row.This is the text paragraph for the first
            row.This is the text paragraph for the first row.This is the text
            paragraph for the first row.This is the text paragraph for the first
            row.This is the text paragraph for the first row.
          </p>
        </div>
      </div>
    </div>
  </body>