.small-text {
  font-size: 0.75rem;
  padding: 0.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

.card1 {
  height: 98.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 5px;
  border-radius: 10px;
  padding: 3rem;
  margin-right: 3px;
}

.card1-header,
.card1-body {
  width: 100%;
}

form {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  width: 98%;
  border-radius: 10px;
  flex: 1 1 auto;
  margin: 5px;
  margin-left: 3px;
}

form h3 {
  color: #555;
  font-weight: 800;
  margin-bottom: 20px;
  text-align: center;
}

form input,
form textarea {
  border: 0;
  margin: 10px 0;
  padding: 20px;
  outline: none;
  background: #d2d2d2;
  font-size: 16px;
}

form button {
  padding: 15px;
  background: rgb(98, 188, 98);
  color: #fff;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

.whatsapplink {
  padding: 2rem;
}

.icon {
  padding: 1.5rem;
}

.icondescription {
  font-size: small;
}
