<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Send Mail</title>
    <link rel="stylesheet" href="contact.component.css" />
  </head>
  <body class="d-flex justify-content-between flex-wrap">
    <div class="col">
      <div class="card card1">
        <div class="card1-header fs-4 p-3"><b>Contact Details</b></div>
        <div class="card1-body">
          <div>
            Please feel free to contact us directly if you have any questions,
            or fill in our form to get a response that is more specific.
          </div>
          <br />
          <div>
            <b><u>Contact Trevor:</u></b>
          </div>
          <br />
          <div><b>Cell Number:</b> <div>061 428 4712</div></div>
          <br />
          <div>
            <b>Email Adress:</b>
            <div>
              <a href="mailto:partridgewoodprojects@gmail.com"
                >partridgewoodprojects@gmail.com</a
              >
            </div>
          </div>
          <div class="whatsapplink">
            Alternatively, you can message us on WhatsApp:
            <div class="icondescription">
              (click the whatapp icon)
            </div>
            <div class="icon">
              <a href="https://api.whatsapp.com/send?phone=27796340955">
                <img 
                    src="assets/pictures/whatsapp.PNG" 
                    width="60" 
                    height="60" 
                    alt="Your image description"
                />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col">
      <form [formGroup]="contactForm">
        <h3>GET IN TOUCH</h3>
        <input
          type="text"
          formControlName="name"
          placeholder="Your Name"
          required
        />
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          required
        />
        <input
          type="text"
          formControlName="contactNumber"
          placeholder="Phone number"
          required
        />
        <textarea
          formControlName="message"
          rows="4"
          placeholder="How can we help you?"
        ></textarea>
        <button (click)="sendEmail()" type="submit">Send</button>
      </form>
    </div>
  </body>
</html>
