<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="photos.component.css"/>
    </head>
    <body>
        <div class="container">
            <div class="heading">
                <h3>Photo <span>Gallery</span></h3>
            </div>
            <div class="box">
                <div class="dream">
                    <img src="assets/pictures/1.jpg">
                    <img src="assets/pictures/2.jpg">
                    <img src="assets/pictures/3.jpg">
                    <img src="assets/pictures/4.jpg">
                    <img src="assets/pictures/5.jpg">
                </div>
                <div class="dream">
                    <img src="assets/pictures/7.jpg">
                    <img src="assets/pictures/8.jpg">
                    <img src="assets/pictures/9.jpg">
                </div>
                <div class="dream">
                    <img src="assets/pictures/12.jpg">
                    <img src="assets/pictures/10.jpg">
                    <img src="assets/pictures/13.jpg">
                    <img src="assets/pictures/14.jpg">
                    <img src="assets/pictures/15.jpg">
                    <img src="assets/pictures/6.jpg">
                </div>

            </div>
        </div>
    </body>
</html>