.light-text {
    color: #ffffff;
  }
  
  .navbar {
    height: 80px;
    background-color: #959ead;
  }
  
  a {
    cursor: pointer;
  }
  
  a.unstyle-link:link {
    color: none;
    cursor: pointer;
  }
  
  a.unstyle-link:visited {
    color: none;
    cursor: pointer;
  }
  
  a.unstyle-link:hover {
    color: none;
    cursor: pointer;
  }
  
  a.unstyle-link:active {
    color: none;
    cursor: pointer;
  }
  
  a.unstyle-link {
    text-decoration: none;
    color: none;
  }
  
  @media (max-width: 768px) {
    #nav-items-lg {
      display: none !important;
    }
    #contact-button {
      display: none !important;
    }
    #nav-items-sm {
      display: flex !important;
    }
  }
  
  .active-route{
    color: #fafafa !important;
    font-weight: 600 !important;
    text-shadow: 1px 1px 1px #000000 !important;
  }
  
  .active-route-contact{
    color: #351254 !important;
    font-weight: 500 !important;
    text-decoration: underline !important;
  }
  
  .nav-menu-active{
    background-color: #dadada;
  }
  
  .dropdown-item:active{
    background-color: #9987a9;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content {
    flex-grow: 1;
  }
  
  #footer {
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    font-family: "Roboto Slab", serif;
    background-image: url('footerbackground.png');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
  }


  .logo-image {
    width: 250px;
    height: auto;
  }
  