<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="home.component.css" />

    <title>PWP Carousel Slider</title>
  </head>
  <body>
    <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#hero-carousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#hero-carousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#hero-carousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>

      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <img
            src="assets/pictures/15.jpg"
            class="d-block w-100 c-img"
            alt="Slide 1"
          />
        </div>
        <div class="carousel-item c-item">
          <img
            src="assets/pictures/2.jpg"
            class="d-block w-100 c-img"
            alt="Slide 2"
          />
        </div>
        <div class="carousel-item c-item">
          <img
            src="assets/pictures/6.jpg"
            class="d-block w-100 c-img"
            alt="Slide 3"
          />
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#hero-carousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#hero-carousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <div>awe1</div>
    <div>awe2</div>
    <div>awe3</div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body center-image">
              <img
                class="beforeAndAfter"
                src="assets/pictures/before&after1.png"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card align-items-center pt-4">
            <div class="card-body">
              <div class="header1">
                <span style="color: #383d3a">Turning your </span
                ><span style="color: #77212e">visions</span
                ><span style="color: #383d3a">,<br> into </span
                ><span style="color: #77212e">reality</span
                ><span style="color: #383d3a">...</span>
                <span class="header2"><br>Partridgewood Projects</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h2 class="">Why choose us?</h2>
              <p class="">
                With 20 years of experience, our skilled team of professionals
                delivers high-quality building solutions tailored to your unique
                needs and budget. We prioritize client satisfaction through open
                communication and attention to detail, ensuring precision and
                exceptional craftsmanship in every project. Our transparent and
                reliable approach, coupled with the use of quality materials and
                sustainable practices, guarantees a successful outcome. Our
                strong work ethics, adherence to safety standards, and
                comprehensive services make us the ideal choice for your
                construction project.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body center-image">
              <img
                class="beforeAndAfter"
                src="assets/pictures/before&after1.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
